.mediaViewInfo {
	--web-view-name: Questionario Infeccioso;
	--web-view-id: Questionario_Infeccioso;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Questionario_Infeccioso;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Questionario_Infeccioso_Class {
	position: absolute;
	width: 1920px;
	height: 4771px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Questionario Infeccioso;
	--web-view-id: Questionario_Infeccioso;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Caminho_35_Class {
	opacity: 0.7;
	fill: rgba(113,153,188,1);
}
.Caminho_35 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 4443.869px;
	left: 0px;
	top: 84px;
	transform: matrix(1,0,0,1,0,0);
}
.Retngulo_40_Class {
	fill: rgba(255,255,255,1);
}
.Retngulo_40 {
	position: absolute;
	overflow: visible;
	width: 1640px;
	height: 4216px;
	left: 140px;
	top: 281.107px;
}
.Questionrio_Class {
	left: 807px;
	top: 152.054px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
.Doenas_Infecciosas_Class {
	left: 749px;
	top: 313px;
	position: absolute;
	overflow: visible;
	width: 383px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
.ID1_Sobre_a_herpes__incorreto__Class {
	left: 278px;
	top: 462px;
	position: absolute;
	overflow: visible;
	width: 582px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
._um_vrus_que_ocasiona_feridas__Class {
	left: 416px;
	top: 534px;
	position: absolute;
	overflow: visible;
	width: 840px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Existem_oito_tipos_de_herpes_q_Class {
	left: 416px;
	top: 610px;
	position: absolute;
	overflow: visible;
	width: 907px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Para_evitar_o_contgio_da_herpe_Class {
	left: 416px;
	top: 686px;
	position: absolute;
	overflow: visible;
	width: 1227px;
	height: 77px;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.O_risco_de_transmisso_da_doena_Class {
	left: 416px;
	top: 806px;
	position: absolute;
	overflow: visible;
	width: 1227px;
	height: 79px;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Usar_preservativo_nas_relaes_s_Class {
	left: 416px;
	top: 928px;
	position: absolute;
	overflow: visible;
	width: 937px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Grupo_6_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 818px;
	overflow: visible;
}
.Elipse_235_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_7_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 702px;
	overflow: visible;
}
.Elipse_235_bq_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_bq {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_8_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 613px;
	overflow: visible;
}
.Elipse_235_bs_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_bs {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_9_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 537px;
	overflow: visible;
}
.Elipse_235_bu_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_bu {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_10_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 928px;
	overflow: visible;
}
.Elipse_235_bw_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_bw {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.ID2_A_AIDS_acquired_immunodefi_Class {
	left: 278px;
	top: 1109px;
	position: absolute;
	overflow: visible;
	width: 1243px;
	height: 111px;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.I_No_compartilhar_objetos_pess_Class {
	left: 278px;
	top: 1232px;
	position: absolute;
	overflow: visible;
	width: 896px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.As_alternativas_corretas_so_Class {
	left: 278px;
	top: 1403px;
	position: absolute;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Todas_Class {
	left: 416px;
	top: 1481px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.I_e_II_Class {
	left: 416px;
	top: 1565px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.II_e_III_Class {
	left: 416px;
	top: 1686px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Apenas_I_Class {
	left: 416px;
	top: 1791px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Apenas_II_Class {
	left: 416px;
	top: 1912px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Grupo_31_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 1793px;
	overflow: visible;
}
.Elipse_235_b_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_b {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_32_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 1686px;
	overflow: visible;
}
.Elipse_235_ca_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_ca {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_33_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 1579px;
	overflow: visible;
}
.Elipse_235_cb_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_cb {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_34_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 1486px;
	overflow: visible;
}
.Elipse_235_cc_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_cc {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Elipse_236_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_236 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 1900px;
}
.ID3_A_Hepatite__uma_doena_que__Class {
	left: 278px;
	top: 2040px;
	position: absolute;
	overflow: visible;
	width: 1365px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.ID2_Class {
	left: 416px;
	top: 2167px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.ID5_Class {
	left: 416px;
	top: 2261px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.ID6_Class {
	left: 416px;
	top: 2355px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.ID7_Class {
	left: 416px;
	top: 2449px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.ID10_Class {
	left: 416px;
	top: 2543px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Grupo_35_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 2450px;
	overflow: visible;
}
.Elipse_235_cl_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_cl {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_36_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 2357px;
	overflow: visible;
}
.Elipse_235_cn_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_cn {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_37_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 2264px;
	overflow: visible;
}
.Elipse_235_cp_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_cp {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_38_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 2171px;
	overflow: visible;
}
.Elipse_235_cr_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_cr {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Elipse_239_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_239 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 2543px;
}
.ID4_A_leptospirose__uma_doena__Class {
	left: 278px;
	top: 2671px;
	position: absolute;
	overflow: visible;
	width: 1365px;
	height: 80px;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Vmitos_tosse_seca_com_muita_pr_Class {
	left: 416px;
	top: 2799px;
	position: absolute;
	overflow: visible;
	width: 802px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Dores_de_cabea_febre_moleza_no_Class {
	left: 416px;
	top: 2886px;
	position: absolute;
	overflow: visible;
	width: 705px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Dores_intensas_no_peito_febre__Class {
	left: 416px;
	top: 2976px;
	position: absolute;
	overflow: visible;
	width: 624px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Falta_de_ar_dores_no_abdmen____Class {
	left: 416px;
	top: 3072px;
	position: absolute;
	overflow: visible;
	width: 386px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Pele_e_olhos_amarelados_dores__Class {
	left: 416px;
	top: 3168px;
	position: absolute;
	overflow: visible;
	width: 739px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Grupo_39_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 3077px;
	overflow: visible;
}
.Elipse_235_c_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_c {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_40_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 2984px;
	overflow: visible;
}
.Elipse_235_da_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_da {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_41_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 2891px;
	overflow: visible;
}
.Elipse_235_db_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_db {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_42_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 2798px;
	overflow: visible;
}
.Elipse_235_dc_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_dc {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Elipse_240_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_240 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 3170px;
}
.ID5_Sobre_a_febre_amarela__cor_Class {
	left: 278px;
	top: 3293px;
	position: absolute;
	overflow: visible;
	width: 621px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.I_O_vrus_transmissor__um_arbov_Class {
	left: 278px;
	top: 3383px;
	position: absolute;
	overflow: visible;
	width: 1010px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.II_Alguns_sintomas_da_febre_am_Class {
	left: 278px;
	top: 3446px;
	position: absolute;
	overflow: visible;
	width: 1321px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.III_Nenhuma_grvida_pode_ser_va_Class {
	left: 278px;
	top: 3509px;
	position: absolute;
	overflow: visible;
	width: 1365px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.IV_O_tratamento_da_febre_amare_Class {
	left: 278px;
	top: 3605px;
	position: absolute;
	overflow: visible;
	width: 1153px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.V_A_melhor_maneira_de_se_preve_Class {
	left: 278px;
	top: 3668px;
	position: absolute;
	overflow: visible;
	width: 1076px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.A_alternativa_correta__Class {
	left: 278px;
	top: 3725px;
	position: absolute;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.I_II_e_III_Class {
	left: 416px;
	top: 3805px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.I_IV_e_V_Class {
	left: 416px;
	top: 3895px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.I_II_e_V_Class {
	left: 416px;
	top: 3994px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.II_e_IV_Class {
	left: 416px;
	top: 4084px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Todas_as_alternativas_Class {
	left: 416px;
	top: 4174px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Grupo_43_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 4084px;
	overflow: visible;
}
.Elipse_235_dl_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_dl {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_44_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 3991px;
	overflow: visible;
}
.Elipse_235_dn_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_dn {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_45_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 3898px;
	overflow: visible;
}
.Elipse_235_dp_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_dp {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Grupo_46_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 3805px;
	overflow: visible;
}
.Elipse_235_dr_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_235_dr {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.Elipse_241_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_241 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 324px;
	top: 4177px;
}
.Home_Class {
	left: 610px;
	top: 4570.842px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Transtornos_Mentais_Class {
	left: 609px;
	top: 4616.326px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Depressao.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Doenas_Respiratrias_Class {
	left: 610px;
	top: 4693.47px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Rinite.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Doenas_Infecciosas_dw_Class {
	left: 610px;
	top: 4655.054px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Herpes.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Atendimento_Class {
	left: 942px;
	top: 4568.625px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.ID11_2222-2222_Class {
	left: 943px;
	top: 4655.344px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.healthcareatendimentocom_Class {
	left: 942px;
	top: 4616.24px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Social_Class {
	left: 1316px;
	top: 4568.625px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Facebook_Class {
	left: 1346px;
	top: 4692.502px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Instagram_Class {
	left: 1344px;
	top: 4603.24px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Twitter__Class {
	left: 1344px;
	top: 4644.948px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Sobre__Class {
	left: 1633px;
	top: 4568.639px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Nossa_Equipe_Class {
	left: 1626px;
	top: 4696.326px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Nossa_Equipe.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Poltica_de_privacidade_Class {
	left: 1626px;
	top: 4651.054px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Termos_de_Uso_Class {
	left: 1626px;
	top: 4605.948px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Instagram_d_Class {
	position: absolute;
	width: 61.844px;
	height: 41.202px;
	left: 1298px;
	top: 4593.088px;
	overflow: visible;
}
.Twitter_Class {
	position: absolute;
	width: 36.512px;
	height: 28.135px;
	left: 1309px;
	top: 4643.857px;
	overflow: visible;
}
.facebook_Class {
	position: absolute;
	width: 47.603px;
	height: 30.179px;
	left: 1305px;
	top: 4687.494px;
	overflow: visible;
}
._2020_HealthCare_Todos_os_dire_Class {
	left: 211px;
	top: 4651.125px;
	position: absolute;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(20,18,18,1);
}
.Imagem_2_Class {
	position: absolute;
	width: 47px;
	height: 58px;
	left: 205px;
	top: 4596px;
	overflow: visible;
}
.Retngulo_28_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_28 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 83px;
	left: 0px;
	top: -0.393px;
}
.Doenas_Infecciosas_ee_Class {
	left: 966px;
	top: 30.661px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Herpes.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Doenas_Respiratrias_ef_Class {
	left: 670px;
	top: 28.077px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Rinite.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Transtornos_Mentais_eg_Class {
	left: 1242px;
	top: 27.933px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Depressao.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Retngulo_27_Class {
	fill: rgba(75,176,246,1);
	stroke: rgba(75,176,246,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_27 {
	position: absolute;
	overflow: visible;
	width: 103px;
	height: 11px;
	left: 1533px;
	top: 77.607px;
}
.Perfil_Class {
	left: 1730px;
	top: 25.661px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Imagem_1_Class {
	position: absolute;
	width: 254px;
	height: 66px;
	left: 140px;
	top: 10.607px;
	overflow: visible;
}
.Questionrio_ek_Class {
	left: 1523px;
	top: 25.933px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Questionario_Login.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Home_el_Class {
	left: 528px;
	top: 27.661px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Componente_3__1_Class {
	position: absolute;
	width: 274px;
	height: 83px;
	left: 1366px;
	top: 4363px;
	overflow: visible;
}
.Caminho_43_Class {
	fill: rgba(155,183,208,1);
}
.Caminho_43 {
	overflow: visible;
	position: absolute;
	width: 274px;
	height: 83px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Responder_Class {
	left: 1431px;
	top: 4385px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}