.mediaViewInfo {
	--web-view-name: Sair Dados;
	--web-view-id: Sair_Dados;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Sair_Dados;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Sair_Dados_Class {
	position: absolute;
	width: 1920px;
	height: 1301px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Sair Dados;
	--web-view-id: Sair_Dados;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Imagem_36_Class {
	position: absolute;
	width: 1118px;
	height: 997px;
	left: -442px;
	top: 83.5px;
	overflow: visible;
}
.Home_by_Class {
	left: 578px;
	top: 1116.842px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Transtornos_Mentais_bz_Class {
	left: 577px;
	top: 1162.326px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Doenas_Respiratrias_b_Class {
	left: 578px;
	top: 1239.47px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Doenas_Infecciosas_b_Class {
	left: 578px;
	top: 1201.054px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Atendimento_b_Class {
	left: 910px;
	top: 1114.625px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.ID11_2222-2222_b_Class {
	left: 911px;
	top: 1201.344px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.healthcareatendimentocom_b_Class {
	left: 910px;
	top: 1162.24px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Social_b_Class {
	left: 1284px;
	top: 1114.625px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Facebook_b_Class {
	left: 1314px;
	top: 1238.502px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Instagram_b_Class {
	left: 1312px;
	top: 1149.24px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Twitter__b_Class {
	left: 1312px;
	top: 1190.948px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Sobre__b_Class {
	left: 1601px;
	top: 1114.639px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Nossa_Equipe_ca_Class {
	left: 1594px;
	top: 1242.326px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Poltica_de_privacidade_cb_Class {
	left: 1594px;
	top: 1197.054px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Termos_de_Uso_cc_Class {
	left: 1594px;
	top: 1151.948px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Instagram_cd_Class {
	position: absolute;
	width: 61.844px;
	height: 41.202px;
	left: 1266px;
	top: 1139.088px;
	overflow: visible;
}
.Twitter_ce_Class {
	position: absolute;
	width: 36.513px;
	height: 28.134px;
	left: 1277px;
	top: 1189.857px;
	overflow: visible;
}
.facebook_cf_Class {
	position: absolute;
	width: 47.603px;
	height: 30.178px;
	left: 1273px;
	top: 1233.494px;
	overflow: visible;
}
._2020_HealthCare_Todos_os_dire_cg_Class {
	left: 179px;
	top: 1197.125px;
	position: absolute;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(20,18,18,1);
}
.Imagem_2_ch_Class {
	position: absolute;
	width: 47px;
	height: 58px;
	left: 173px;
	top: 1142px;
	overflow: visible;
}
.Home_by_Class {
	left: 578px;
	top: 1116.842px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Transtornos_Mentais_bz_Class {
	left: 577px;
	top: 1162.326px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Doenas_Respiratrias_b_Class {
	left: 578px;
	top: 1239.47px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Doenas_Infecciosas_b_Class {
	left: 578px;
	top: 1201.054px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Atendimento_b_Class {
	left: 910px;
	top: 1114.625px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.ID11_2222-2222_b_Class {
	left: 911px;
	top: 1201.344px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.healthcareatendimentocom_b_Class {
	left: 910px;
	top: 1162.24px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Social_b_Class {
	left: 1284px;
	top: 1114.625px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Facebook_b_Class {
	left: 1314px;
	top: 1238.502px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Instagram_b_Class {
	left: 1312px;
	top: 1149.24px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Twitter__b_Class {
	left: 1312px;
	top: 1190.948px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Sobre__b_Class {
	left: 1601px;
	top: 1114.639px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(20,18,18,1);
	text-transform: capitalize;
}
.Nossa_Equipe_ca_Class {
	left: 1594px;
	top: 1242.326px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Poltica_de_privacidade_cb_Class {
	left: 1594px;
	top: 1197.054px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Termos_de_Uso_cc_Class {
	left: 1594px;
	top: 1151.948px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(20,18,18,1);
}
.Instagram_cd_Class {
	position: absolute;
	width: 61.844px;
	height: 41.202px;
	left: 1266px;
	top: 1139.088px;
	overflow: visible;
}
.Twitter_ce_Class {
	position: absolute;
	width: 36.513px;
	height: 28.134px;
	left: 1277px;
	top: 1189.857px;
	overflow: visible;
}
.facebook_cf_Class {
	position: absolute;
	width: 47.603px;
	height: 30.178px;
	left: 1273px;
	top: 1233.494px;
	overflow: visible;
}
._2020_HealthCare_Todos_os_dire_cg_Class {
	left: 179px;
	top: 1197.125px;
	position: absolute;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(20,18,18,1);
}
.Imagem_2_ch_Class {
	position: absolute;
	width: 47px;
	height: 58px;
	left: 173px;
	top: 1142px;
	overflow: visible;
}
.Retngulo_90_Class {
	fill: rgba(255,255,255,1);
}
.Retngulo_90 {
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 894px;
	left: 140px;
	top: 141px;
}
.image-removebg-preview_29_Class {
	position: absolute;
	width: 230px;
	height: 230px;
	left: 262px;
	top: 218px;
	overflow: visible;
}
.NOME_Class {
	left: 324px;
	top: 480px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
.Retngulo_91_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_91 {
	position: absolute;
	overflow: visible;
	width: 158px;
	height: 41px;
	left: 219px;
	top: 542px;
}
.Retngulo_92_Class {
	fill: rgba(174,67,76,1);
}
.Retngulo_92 {
	position: absolute;
	overflow: visible;
	width: 158px;
	height: 41px;
	left: 396px;
	top: 542px;
}
.Progresso_Class {
	left: 240px;
	top: 549px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
	text-transform: uppercase;
}
.HISTRICO_Class {
	left: 425px;
	top: 549px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(250,250,250,1);
}
.Funo_EstudantePesquisador_Class {
	left: 278px;
	top: 648px;
	position: absolute;
	overflow: visible;
	width: 309px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Imagem_76_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 234px;
	top: 647px;
	overflow: visible;
}
.Imagem_77_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 234px;
	top: 719px;
	overflow: visible;
}
.Idade_Class {
	left: 278px;
	top: 720px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.image-removebg-preview_23_Class {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 231px;
	top: 788px;
	overflow: visible;
}
.Dados_Class {
	left: 278px;
	top: 797px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Sair_Class {
	left: 339px;
	top: 977px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: center;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
.image-removebg-preview_31_Class {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 400px;
	top: 982px;
	overflow: visible;
}
.DADOS_Class {
	left: 676px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(102,102,102,1);
}
.Senha_Atual_Class {
	left: 692px;
	top: 667px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Retngulo_93_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_93 {
	position: absolute;
	overflow: visible;
	width: 950px;
	height: 60px;
	left: 692px;
	top: 888px;
}
.Nome_de_Usurio_Class {
	left: 692px;
	top: 205px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Retngulo_94_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_94 {
	position: absolute;
	overflow: visible;
	width: 950px;
	height: 60px;
	left: 692px;
	top: 272px;
}
.Estado_-_UF_Class {
	left: 1228px;
	top: 365px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Retngulo_97_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_97 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 60px;
	left: 1228px;
	top: 426px;
}
.Data_de_Nascimento_Class {
	left: 692px;
	top: 359px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Funo_Class {
	left: 692px;
	top: 513px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Retngulo_99_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_99 {
	position: absolute;
	overflow: visible;
	width: 942px;
	height: 60px;
	left: 700px;
	top: 580px;
}
.Mudar_Senha_Class {
	left: 692px;
	top: 821px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Retngulo_100_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_100 {
	position: absolute;
	overflow: visible;
	width: 950px;
	height: 60px;
	left: 692px;
	top: 734px;
}
.Usurio_Class {
	left: 716px;
	top: 282px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
._Class {
	left: 728px;
	top: 744px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Funo_db_Class {
	left: 722px;
	top: 590px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Insira_nova_senha_Class {
	left: 722px;
	top: 898px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Estado_-_UF_dd_Class {
	left: 1244px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Retngulo_95_Class {
	fill: rgba(174,67,76,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_95 {
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 83px;
	left: 1368px;
	top: 981px;
}
.Salvar_Class {
	left: 1451px;
	top: 1003px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
.Retngulo_106_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_106 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 60px;
	left: 692px;
	top: 426px;
}
.ddmmaaaa_Class {
	left: 722px;
	top: 436px;
	position: absolute;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
.Retngulo_28_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_28 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 83px;
	left: 0px;
	top: -0.393px;
}
.Doenas_Infecciosas_dj_Class {
	left: 970px;
	top: 30.661px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Doenas_Respiratrias_dk_Class {
	left: 674px;
	top: 28.077px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Transtornos_Mentais_dl_Class {
	left: 1246px;
	top: 27.933px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Retngulo_27_Class {
	fill: rgba(75,176,246,1);
	stroke: rgba(75,176,246,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_27 {
	position: absolute;
	overflow: visible;
	width: 103px;
	height: 11px;
	left: 1704px;
	top: 77.607px;
}
.Perfil_Class {
	left: 1730px;
	top: 25.661px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Imagem_1_Class {
	position: absolute;
	width: 254px;
	height: 66px;
	left: 144px;
	top: 10.607px;
	overflow: visible;
}
.Questionrio_Class {
	left: 1523px;
	top: 25.933px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Home_dq_Class {
	left: 532px;
	top: 27.661px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Retngulo_107_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_107 {
	position: absolute;
	overflow: visible;
	width: 950px;
	height: 513px;
	left: 485px;
	top: 382px;
}
.Tem_certeza_que_deseja_sair_Class {
	left: 746.5px;
	top: 446px;
	position: absolute;
	overflow: visible;
	width: 462px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(102,102,102,1);
}
.Retngulo_108_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_108 {
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 110px;
	left: 607px;
	top: 687px;
}
.Retngulo_109_Class {
	fill: rgba(255,41,41,1);
}
.Retngulo_109 {
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 110px;
	left: 1057px;
	top: 687px;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
}
.Retngulo_110_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_110 {
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 110px;
	left: 607px;
	top: 687px;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Perfil_Dados.html;
	cursor: pointer;
}
.image-removebg-preview_32_Class {
	position: absolute;
	width: 98px;
	height: 98px;
	left: 594px;
	top: 409px;
	overflow: visible;
}
.Cancelar_Class {
	left: 670px;
	top: 711px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Perfil_Dados.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(102,102,102,1);
}
.Sair_dy_Class {
	left: 1162px;
	top: 711px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}