<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel = "preconnect" href = "https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="css/Cadastro.css"/>
	<script src="https://kit.fontawesome.com/3eecc79a6a.js" crossorigin="anonymous"></script>
	<script id="applicationScript" type="text/javascript" src="js/Login.js"></script>
</head>
<body>
	<nav>
		<div onclick="application.goToTargetView(event)" class="Doenas_Infecciosas_cg_Class">
			<span>Doenças Infecciosas</span>
		</div>
		<div onclick="application.goToTargetView(event)" class="Doenas_Respiratrias_ch_Class">
			<span>Doenças Respiratórias</span>
		</div>
		<div onclick="application.goToTargetView(event)" class="Transtornos_Mentais_ci_Class">
			<span>Transtornos Mentais</span>
		</div>
			<svg class="Retngulo_27">
				<rect class="Retngulo_27_Class" rx="5" ry="5" x="0" y="0" width="103" height="11"></rect>
			</svg>
		<div class="Perfil_Class">
			<span>Perfil</span>
		</div>
		<img class="Imagem_1_Class" src="img/Cadastro/Imagem_1.png" srcset="img/Cadastro/Imagem_1.png 1x, Imagem_1@2x.png 2x">
		<div onclick="application.goToTargetView(event)" class="Questionrio_Class">
			<span>Questionário</span>
		</div>
		<div onclick="application.goToTargetView(event)" class="Home_cn_Class">
			<span>Home</span>
		</div>
	</nav>
	<div class = "container">
		<div class="content first-content">
			<div class = "first-column">
				<h2 class="title title-primary">Seja bem-vindo novamente!</h2>
				<p class="description description-primary">Já tem uma conta?</p>
				<p class="description description-primary">Faça seu Login</p>
				<button id="signin" class="btn btn-primary">Entre</button>
			</div>

			<div class = "second-column">
				<h2 class="title title-second">Crie sua conta!</h2>
				<div class = "social-media">
					<ul class="list-social-media">
						<a class="link-social-media" href="#">
							<li class="item-social-media">
								<i class="fab fa-facebook-f"></i>
							</li>
						</a>
						<a class="link-social-media" href="#">
							<li class="item-social-media">
								<i class="fab fa-google-plus-g"></i>
							</li>
						</a>
					</ul>
				</div>

				<p class="description description-second">ou use seu email para se registrar</p>
				<form class="form">
					<label class="label-input" for="">
						<i class="far fa-user icon-modify"></i>
						<input type = "text" placeholder="Nome Completo">
					</label>
						
					<label class="label-input" for="">
						<i class="fas fa-calendar-day icon-modify"></i>
						<input type = "date" placeholder="Data de Nascimento">
					</label>
					
					<label class="label-input" for="">
						<i class="fas fa-map-marker-alt icon-modify"></i>
						<input type = "text" placeholder="Estado - UF">
					</label>
					
					<label class="label-input" for="">
						<i class="far fa-envelope icon-modify"></i>
						<input type = "email" placeholder="Email">
					</label>
					
					<label class="label-input" for="">
						<i class="fas fa-lock icon-modify"></i>
						<input type = "password" placeholder="Senha">
					</label>

					<label class="label-input" for="">
						<i class="fas fa-lock icon-modify"></i>
						<input type = "text" placeholder="Confirmação de senha">
					</label>
					
					<button class="btn btn-second">Cadastre-se</button>
				</form>

			</div>
		</div>

		<div class="content second-content">
			<div class = "first-column">
				<h2 class="title title-primary">Oi amigo!</h2>
				<p class="descriptiopn description-primary">Insira seus dados aqui</p>
				<p class="descriptiopn description-primary">e comece a explorar o HealthCare</p>
				<button id="signup" class="btn btn-primary">Entre</button>
			</div>

			<div class = "second-column">
				<h2 class="title title-second">Faça seu Login</h2>
				<div class = "social-media">
					<ul class="list-social-media">
						<a class="link-social-media" href="#">
							<li class="item-social-media">
								<i class="fab fa-facebook-f"></i>
							</li>
						</a>
						<a class="link-social-media" href="#">
							<li class="item-social-media">
								<i class="fab fa-google-plus-g"></i>
							</li>
						</a>
					</ul>
				</div>

				<p class="description description-second">ou use seu email</p>
				<form class="form">
					
					<label class="label-input" for="">
						<i class="far fa-envelope icon-modify"></i>
						<input type = "email" placeholder="Email">
					</label>
						
					<label class="label-input" for="">
						<i class="fas fa-lock icon-modify"></i>
						<input type = "password" placeholder="Senha">
					</label>

					<a class="password" href="#">Esqueceu sua senha?</a>
					<button class="btn btn-second">Entre</button>
				</form>
			</div>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" class="Home_Class">
		<span>Home</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Transtornos_Mentais_Class">
		<span>Transtornos Mentais</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Doenas_Respiratrias_Class">
		<span>Doenças Respiratórias</span>
	</div>
	<div onclick="application.goToTargetView(event)" class="Doenas_Infecciosas_Class">
		<span>Doenças Infecciosas</span>
	</div>
	<div class="Atendimento_Class">
		<span>Atendimento</span>
	</div>
	<div class="ID11_2222-2222_Class">
		<span>(11) 2222-2222</span>
	</div>
	<div class="healthcareatendimentocom_Class">
		<span>health.care@atendimento.com</span>
	</div>
	
	<div class="Social_Class">
		<span>Social</span>
	</div>
	<div class="Facebook_Class">
		<span>Facebook</span>
	</div>
	<div class="Instagram_Class">
		<span>Instagram</span>
	</div>
	<div class="Twitter__Class">
		<span>Twitter</span><br>
	</div>
	<div class="Sobre__Class">
		<span>Sobre</span><br>
	</div>
	<div onclick="application.goToTargetView(event)" class="Nossa_Equipe_Class">
		<span>Nossa Equipe</span>
	</div>
	<div class="Poltica_de_privacidade_Class">
		<span>Política de privacidade</span>
	</div>
	<div class="Termos_de_Uso_Class">
		<span>Termos de Uso</span>
	</div>
	<img class="Instagram_bu_Class" src="img/Cadastro/Instagram_bu.png" srcset="img/Cadastro/Instagram_bu.png 1x, Instagram_bu@2x.png 2x">
	<img class="Twitter_Class" src="img/Cadastro/Twitter.png" srcset="img/Cadastro/Twitter.png 1x, Twitter@2x.png 2x">
	<img class="facebook_Class" src="img/Cadastro/facebook.png" srcset="img/Cadastro/facebook.png 1x, facebook@2x.png 2x">
	<div class="_2020_HealthCare_Todos_os_dire_Class">
		<span>© 2020 HealthCare<br/>Todos os direitos reservados<br/> </span>
	</div>

	<script src="js/app.js"></script>
</body>
</html>